<mat-card>
  <mat-card-header>
    <div class="row w-100 mb-4">
      <div class="col">
        <input
          type="text"
          nbInput
          fullWidth
          fieldSize="medium"
          placeholder="Search by name ..."
          [(ngModel)]="searchText"
        />
      </div>
      <div class="col d-flex justify-content-end">
        <button
          mat-raised-button
          color="primary"
          class="button-action"
          (click)="onSearch()"
        >
          <nb-icon icon="search-outline"></nb-icon>
        </button>
        <button
          mat-raised-button
          class="button-action bg-success text-white"
          style="margin-left: 1rem"
          (click)="onCreate('500ms', '300ms')"
        >
          <nb-icon icon="plus-outline"></nb-icon>
          Create
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mb-4">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="min-width: 150px; width: 200px"
          >
            Action
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="basic">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            <button mat-raised-button color="warn" class="ms-2">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [pageSizeOptions]="[1, 5, 10, 20]"
      showFirstLastButtons
      [pageSize]="gridParam.pageSize"
      [length]="totalCount"
      (page)="onChangePage($event)"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </mat-card-footer>
</mat-card>
