<nb-card size="small" style="height: calc(100vh - 10rem)">
  <nb-card-header>
    <div class="row d-flex justify-content-between">
      <label class="width-fit-content">Friends</label>
      <a
        class="width-fit-content cursor-pointer"
        (click)="openAddConversationDialog()"
        ><nb-icon icon="edit-2-outline"></nb-icon
      ></a>
    </div>
  </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let user of users">
      <div class="row w-100 align-items-center">
        <div class="col" (click)="openWindowChat(user)">
          <nb-user #nbUserChat [name]="user.friendName"></nb-user>
          <span>{{ user.lastMessage.message }}</span>
        </div>
        <div class="col text-align-end">
          <button
            type="button"
            mat-mini-fab
            class="bg-success"
            (click)="openVideoCall(user)"
          >
            <nb-icon icon="phone-call-outline"></nb-icon>
          </button>
          <nb-icon
            [ngClass]="user.isOnline ? 'bg-success' : ''"
            class="ms-2 text-success"
            style="border-radius: 50%; width: 15px; height: 15px"
            icon="radio-button-off-outline"
          ></nb-icon>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
