<nb-chat
  #chatComponent
  [title]="friendInfo.userName"
  size="medium"
  [scrollBottom]="true"
  style="height: calc(100vh - 10rem)"
>
  <nb-chat-message
    *ngFor="let message of messages"
    [type]="message.type"
    [message]="message.text"
    [reply]="message.reply"
    [sender]="message.user.name"
    [date]="message.date"
    [files]="message.files"
    [quote]="message.quote"
    [latitude]="message.latitude"
    [longitude]="message.longitude"
    [avatar]="message.user.avatar"
  >
  </nb-chat-message>

  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
  </nb-chat-form>
</nb-chat>
