<mat-card style="height: calc(100vh - 4.75rem)">
  <mat-card-content>
    <div class="row d-flex">
      <app-list-user-chatting
        (hadConversation)="openConversation($event)"
        class="col-4"
      ></app-list-user-chatting>
      <app-list-message-chatting
        *ngIf="isShowWindowChat"
        [openConversationId]="personalChatId"
        [friendInfo]="friendInfo"
        class="col-8"
      ></app-list-message-chatting>
      <app-realtime-call
        class="col-8"
        *ngIf="isShowVideoCall"
        [receiverId]="receiverId"
      ></app-realtime-call>
    </div>
  </mat-card-content>
</mat-card>
